{% extends "base.html" %}


{% block content %}

<style>

    input{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;

        padding-left: 30px;

        display: block;
        
        height: 70px;
        width: 50%;
        line-height: 30px;

        border-radius: 5px;

        background-color: #EEEEEE;
    }

    button{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        
        padding-left: 0;

        display: block;
        
        height: 70px;
        width: 50%;
        line-height: 30px;

        border-radius: 5px;

        background-color: #C0FFFC;
    }

    button:hover{
        background-color: #8FE1DE;
    }

</style>

<div class="container my-10 mx-auto text-center border-2 border-black rounded-lg w-10/12 sm:w-9/12 md:w-8/12 lg:w-1/2 xl:w-5/12">

    <form method="POST" action="{% url "user:login" %}">
        {% csrf_token %}

        {{form.email}}
        <span class="font-bold text-red-600 text-center">{{form.email.errors}}</span>

        {{form.password}}
        <span class="font-bold text-red-600 text-center">{{form.password.errors}}</span>

        <button>로그인</button>
    </form>

    <p class="my-5 italic">아직 계정이 없으시면 <a href="{% url "user:signup" %}" class="text-blue-400 font-bold text-xl hover:text-blue-500">여기</a>를 눌러서 계정을 만드세요!</p>
</div>

{% endblock content %}