{% extends "base.html" %}

{% block content %}

<div class="popup">

    <div class="py-4">
        당신은 모든 권리를 포기하고 노예가 됩니다
    </div>

    <button id="close" class="border-2 py-1 px-2 rounded-lg m-3 border-black hover:bg-gray-300" onclick="clicker();">동의합니다</button>
</div>


<div
    class="container my-10 mx-auto text-center border-2 border-black rounded-xlg w-10/12 sm:w-9/12 md:w-8/12 lg:w-1/2 xl:w-5/12">


    <form method="POST" action="{% url "user:signup" %}" class="">

        {% csrf_token %}

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.email.label}}
            {{form.email}}
            <span class="font-bold text-red-600 text-center">{{form.email.errors}}</span>
            
        </div>
        
        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">
            
            {{form.nickname.label}}
            {{form.nickname}}
            
        </div>
        
        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">
            
            {{form.password.label}}
            {{form.password}}
            <span class="font-bold text-red-600 text-center">{{form.password.errors}}</span>
            
        </div>
        
        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">
            
            {{form.re_password.label}}
            {{form.re_password}}
            <span class="font-bold text-red-600 text-center">{{form.re_password.errors}}</span>

        </div>

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.gender.label}}
            {{form.gender}}

        </div>

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.age.label}}
            {{form.age}}

        </div>

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.job.label}}
            {{form.job}}

        </div>

        <button style="display: none;">SUBMIT</button>

    </form>

</div>

<script>

    const wins = document.querySelector(".popup");

    const w = $(window).width();
    const w2 = $(".popup").width();
    wins.style.left = `${w/2 - w2/2}px`;

    clicker = () => {

        wins.style.display = "none";
        $("button").show();

    }

</script>

{% endblock content %}