{% extends "base.html" %}
{% load static %}

{% block content %}

<style>

    input{
        width: 90%;
        text-align: center;
    }

</style>

<div
    class="container my-10 mx-auto text-center border-2 border-black rounded-lg w-10/12 sm:w-9/12 md:w-8/12 lg:w-1/2 xl:w-5/12">

    <div class="w-3/4 p-5 h-32 mx-auto my-10 bg-red-100" style="overflow-y: scroll;">

        <p>그룹 생성</p>

        <p>본 서비스는 그룹 관리 서비스입니다</p>

        <p>모든 사용자는 1인당 1개의 그룹을 생성할 수 있으며, 그룹의 삭제는 불가능합니다</p>

        <p>그룹의 관리자는 본인이 개설한 그룹의 가입 희망자를 조회, 가입 승인할 수 있으며, 성공적으로 가입을 완료한 사람의 설문을 조회할 수 있습니다</P>

    </div>

    <div>
      <input type="checkbox" name="agreement" id="agreement" style="width: auto;">
      <label for="agreement"><span class="text-red-500 font-bold">[필수]</span> 이용약관에 동의합니다</label>
    </div>

    <form action="{% url "organization:neworganization" %}" method="POST">

        {% csrf_token %}

        {{form.master}}
        {{form.isrecruited}}
        <span style="display: none;">{{form.users}}</span>

        <table class="table-auto w-9/12 mx-auto my-10">
            <tbody>
              <tr>
                <td class="border px-4 py-2">{{form.name.label}}</td>
                <td class="border px-4 py-2">{{form.name}}</td>
              </tr>
              <tr>
                <td class="border px-4 py-2">{{form.location.label}}</td>
                <td class="border px-4 py-2">{{form.location}}</td>
              </tr>
              <tr>
                <td class="border px-4 py-2">{{form.phone.label}}</td>
                <td class="border px-4 py-2">{{form.phone}}</td>
              </tr>
              <tr>
                <td colspan="2" class="border px-4 py-2"><button class="hover:text-gray-500">등록하기</button></td>
              </tr>
            </tbody>
          </table>

    </form>

</div>

<script>
  const phone0 = document.getElementById("id_phone_0");
  const phone1 = document.getElementById("id_phone_1");

  document.addEventListener('submit', (ev) => {
        const check = document.getElementById("agreement")
        if(check.checked){
            ;
        }
        else{
            ev.preventDefault();
            alert("이용약관에 동의해주세요")
        }
    })

  init = () => {
    phone0.placeholder = "대표번호";
    phone1.placeholder = "내선번호";
  }

  init();
</script>

{% endblock content %}