{% extends "base.html" %}
{% load static %}

{% block content %}

<div
    class="container my-10 mx-auto text-center border-2 border-black rounded-xlg w-10/12 sm:w-9/12 md:w-8/12 lg:w-1/2 xl:w-5/12">

    <form action="{% url "organization:neworganization" %}" method="POST">

        {% csrf_token %}

        {{form.master}}
        <span style="display: none;">{{form.users}}</span>

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.name.label}}
            {{form.name}}
            <span class="font-bold text-red-600 text-center">{{form.name.errors}}</span>

        </div>

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.location.label}}
            {{form.location}}
            <span class="font-bold text-red-600 text-center">{{form.location.errors}}</span>

        </div>

        <div class="block my-10 text-center border-black border-2 rounded-lg w-1/2 py-5 mx-auto">

            {{form.phone.label}}
            {{form.phone}}
            <span class="font-bold text-red-600 text-center">{{form.phone.errors}}</span>

        </div>

        <button>SUBMIT</button>

    </form>

</div>

{% endblock content %}